<.header>
  Visit <%= @url %>
  <:subtitle>subtitle</:subtitle>
  <:actions>
    <.back :if={@visit} navigate={@visit.back}>Back to visits (<%= @visit.back %>)</.back>    
  </:actions>
</.header>

<div :if={@gmi} class="m-4 p-4 border">
  <.gmi lines={@gmi.lines} />
</div>
