<.form>
  <.input name="url" value={@document && @document.uri} />
  <.button hidden="true" type="submit">Visit!</.button>
</.form>

<.header>
  <%= @status %>
  <:subtitle>subtitle</:subtitle>
  <:actions>
    <.back :if={@back} navigate={@back}>Back to visits (<%= @back %>)</.back>    
  </:actions>
</.header>

<div :if={@document} class="m-4 p-4 border">
  <.gmi document={@document} />
</div>
